snippet i
	\item

snippet item
	\begin{itemize}
		\item {1:Item}
	\end{itemize}

snippet enum 
	\begin{enumerate}
		\item {1:Item}
	\end{enumerate}

snippet frame 
	\begin{frame}
		\frametitle{1:Title Here}
		{2:Content}
	\end{frame}

